.navbar{
    position: fixed; top: 0; left: 0;
    backdrop-filter: blur(12px);
    background-color: rgba(0,0,0,0.8); z-index:10000;
    -webkit-backdrop-filter: blur(12px);
}
.modal{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}