.swiper-container {
    width:100%; height:100%;
}

.mySwiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide-custom {
    display: flex;
    justify-content: center; /* Center the content inside the slide */
    align-items: center;
    width: 100%; /* Ensure the slide takes full width */
    height: 100%; /* Ensure the slide takes full height */
  }